.tmp
.DS_Store
#project.godot
.idea/

/.import
/.vscode
/default_env.tres
/default_bus_layout.tres
/icon.svg
/icon.svg.import
export_presets.cfg

# will disable addons later but for now letting it be (/addons/*)

# Godot 4+ specific ignores
#.godot/